body.countdown {
    background: rgba(255,255,255,1) url("/resources/images/countdown-bg.jpeg") no-repeat fixed center / cover;
    
    main {
        padding: 0;
        background-color: transparent;

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 200px;
            text-align: center;

            h1 {
                display: block;
                width: 100%;
                font-size: 2rem;
                color: rgba(0,0,0,1);
                font-family: "Lato", sans-serif;
            }

            .c-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;
                pointer-events: auto;

                @include for-tablet-portrait-up {
                    width: 600px;
                }
                
                .c-container {
                    display: inline-block;
                    width: 4rem;
                    margin-bottom: 35px;
                    
                    @include for-tablet-portrait-only {
                        width: 6rem;
                    }
                    @include for-tablet-landscape-up {
                        width: 8rem;
                    }

                    & > * {
                        display: block;
                        width: 100%;
                    }
            
                    label {
                        font-size: 0.9em;
                        color: rgba(0,0,0,1);

                        @include for-tablet-portrait-up {
                            font-size: 1rem;
                        }
                    }
            
                    .c-unit {
                        font-size: 2em;
                        font-weight: bold;
                        color: rgba(0,0,0,1);

                        @include for-tablet-portrait-up {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.celebrate-red {
        display: block;
        background-color: rgba(255, 0, 0, 0.5);
    }

    &.celebrate-white {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
    }
}