// Lato
$lato : 'Lato', sans-serif;
@font-face {
    font-family: 'Lato';
    src: url('../resources/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../resources/fonts/Lato-Light.ttf') format('truetype');
    font-style: italic, oblique;
    font-weight: normal;
}


// OpenSans
$opensans : 'OpenSans', sans-serif;
@font-face {
    font-family: 'OpenSans';
    src: url('../resources/fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../resources/fonts/OpenSans-Light.ttf') format('truetype');
    font-style: italic, oblique;
    font-weight: normal;
}


// Montserrat
$montserrat : 'Montserrat', Arial, Helvetica, sans-serif;
@font-face {
    font-family: 'Montserrat';
    src: url('../resources/fonts/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../resources/fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}