// Main Colors
$primary_text_color: rgba(255,255,255,1);
$scrollbar_fg_color: rgba(80,0,45,1);
$scrollbar_bg_color: rgba(30,0,10,1);

// Components
$body_bg_color: rgba(0,0,0,1);
$header_bg_color: rgba(50,0,15,1);
$nav_text_color: rgba(255,255,255,1);
$nav_hover_text_color: rgba(255,255,255,1);
$nav_hover_d0_bg_color: rgba(80,0,45,1);
$nav_hover_d1_bg_color: rgba(50,0,15,1);
$nav_hover_d2_bg_color: rgba(50,0,15,1);
$nav_mobile_d0_bg_color: rgba(30,0,10,0.95);
$nav_mobile_d1_bg_color: rgba(20,0,7,0.8);
$nav_mobile_d2_bg_color: rgba(10,0,3,0.5);
$nav_active_bg_color: rgba(100,0,55,1);
$main_bg_color: rgba(0,0,0,1);
$aside_bg_color: rgba(20,0,0,1);
$footer_bg_color: rgba(20, 0, 7, 1);
$footer_text_color: rgba(128, 128, 128, 1);
$footer_link_color: rgba(178, 178, 178, 1);

// Hero
$hero_img_overlay_color: rgba(0,0,0,0.5);
$hero_text_bg_color: rgba(102,75,86,0.5);
$hero_text_heading_color: rgba(255,255,255,1);
$hero_text_subheading_color: rgba(200,200,200,1);